@use "../abstracts/variables" as v;

:root {
	--transition-standard: #{v.$transition-standard};
	--font-headings: #{v.$font-headings};
	--font-body: #{v.$font-body};
}

::selection {
	color: white;
	text-shadow: none;
	background-color: var(--bs-primary);
}

pre,
blockquote,
q {
	background-color: var(--bs-light);
}

.btn-menu {
	background-color: var(--wp--preset--color--black);
	border-radius: 0;
	color: var(--wp--preset--color--white);
	font-family: var(--wp--preset--font-family--body);
	margin-right: var(--wp--preset--spacing--base);
	border: 2px transparent solid;
	font-size: var(--wp--preset--font-size--medium);

	a {
		padding: var(--wp--preset--spacing--base) var(--wp--preset--spacing--lg)
			var(--wp--preset--spacing--base) var(--wp--preset--spacing--lg) !important;
	}

	&:hover,
	&:focus {
		color: var(--wp--preset--color--black) !important;
		background-color: white;
		transition: all 0.3s ease-in-out;
		border: 2px var(--wp--preset--color--black) solid;
	}

	&:active,
	&:focus-visible,
	&:focus-within {
		border: 2px var(--wp--preset--color--black) solid;
		color: var(--wp--preset--color--black) !important;
		background-color: var(--wp--preset--color--light-gray);
		transition: all 0.3s ease-in-out;
	}
}

/* stylelint-disable-next-line selector-class-pattern */
:root :where(.wp-block-button .wp-block-button__link) {
	&:hover,
	&:focus {
		color: var(--wp--preset--color--black) !important;
		background-color: white !important;
		transition: all 0.3s ease-in-out;
		border: 2px var(--wp--preset--color--black) solid !important;
	}

	&:active,
	&:focus-visible,
	&:focus-within {
		color: var(--wp--preset--color--black) !important;
		background-color: var(--wp--preset--color--white) !important;
		transition: all 0.3s ease-in-out;
		border: 2px var(--wp--preset--color--black) solid !important;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
	color: black;
}

.navbar-toggler {
	color: black;
}
