$transition-standard: 0.15s ease-in-out;

// COLORS
$color-primary: #a72c28;
$color-secondary: #c8caaa;
$color-grey: #767676;
$color-black: black;
$color-copy-black: black;
$color-light-gray: #f0f0f0;
$color-white: white;

// FONTS
$font-headings: pill-gothic-300mg, "Helvetica Neue", "Noto Sans",
	"Liberation Sans", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol", "Noto Color Emoji";
$font-body: gill-sans-nova, "Helvetica Neue", "Noto Sans", "Liberation Sans",
	arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
	"Noto Color Emoji";
