/*--------------------------------------------------------------
Home
--------------------------------------------------------------*/
#particles-js {
	position: relative;
	z-index: 0;
	width: 100%;
	height: calc(100% + 200px);
	background-color: #0f0f0f;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.particles-js-canvas-el {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.block-sub-title {
	font-size: 2.4rem;
	margin-bottom: 1.6rem;
	font-family: var(--font-headings);
	font-weight: 500;
}

.block-title {
	font-size: 4.4rem;
	line-height: 4rem;
	font-family: var(--font-headings);
	font-weight: 600;
	max-width: 280px;
}

.news-area {
	background: var(--color-grey);
}

@media (max-width: 991px) {
	.news-list > div {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}
