@use "../abstracts/mixins" as m;

.card-img-left img {
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
	width: 100%;
	height: auto;

	@include m.media-breakpoint-up(md) {
		object-fit: cover;
		height: 100%;
	}
}

.card-img-left-md img {
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
	width: 100%;
	height: auto;

	@include m.media-breakpoint-up(lg) {
		object-fit: cover;
		height: 100%;
	}
}
