@media (width <= 991px) {
	.breadcrumb {
		display: block !important;
		white-space: nowrap;
		-ms-overflow-style: none;
		overflow: -moz-scrollbars-none;
		scrollbar-width: none;
	}

	.breadcrumb::-webkit-scrollbar {
		display: none;
	}
}
