@use "../abstracts/mixins" as m;

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-logo img {
	max-width: 400px;
}

.footer-nav a {
	color: white;
	text-decoration: none;
	transition: all var(--transition-standard);

	@include m.interaction {
		color: rgba(255, 255, 255, 0.8);
		text-decoration: underline;
	}
}

.bs-footer-menu {
	& > .nav > li {
		text-transform: uppercase;
		flex-basis: 100%;

		@include m.media-breakpoint-up(xl) {
			flex: 1 0 0%;
		}
	}
	.sub-menu {
		list-style: none;
		margin-left: 1rem;

		& > li {
			text-transform: none;
		}
	}
}
