#footer-menu ul li a {
	padding-left: 0;
	padding-top: 0.25rem; // 0.4rem * 0.625
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-logo img {
	max-width: 400px;
}

.footer-nav a {
	color: white;
}

.bs-footer-menu {
	& > .nav > li {
		width: 20%;
		margin-right: 1%; // 1% * 0.625
		margin-bottom: 2rem; // 3.2rem * 0.625
		text-transform: uppercase;

		& > ul {
			padding-left: 1rem; // 1.6rem * 0.625
			padding-top: 1rem; // 1.6rem * 0.625

			& > li {
				text-transform: none;
			}
		}
	}
}

@media (max-width: 1199px) {
	.bs-footer-menu .nav > li {
		width: 50%;
	}
}
