@use "../abstracts/mixins" as m;
/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
.footer-logo img {
	max-width: 400px;
}

.footer-nav a {
	color: white;
	text-decoration: none;

	@include m.interaction() {
		text-decoration: underline;
	}
}

.bs-footer-menu {
	& > .nav {
		gap: 2rem;
		> li {
			width: 50%;
			text-transform: uppercase;

			@include m.media-breakpoint-up(xl) {
				width: 20%;
			}

			& > ul {
				list-style: none;
				margin: 0;
				padding-left: 1rem; // 1.6rem * 0.625

				& > li {
					text-transform: none;
				}
			}
		}
	}
}
