/*--------------------------------------------------------------
3. Header
--------------------------------------------------------------*/

.nav-container {
	padding-top: 1.25rem; /* 2rem * 0.625 = 1.25rem */
	padding-bottom: 1.25rem; /* 2rem * 0.625 = 1.25rem */
}

.navbar-brand span {
	font-weight: 100;
	margin-left: 1rem; /* 1.6rem * 0.625 = 1rem */
}

.fixed-top,
.sticky-top {
	top: var(--wp-admin--admin-bar--height, 0);
}

@media (min-width: 783px) {
	.logged-in.admin-bar .fixed-top,
	.logged-in.admin-bar .offcanvas:not(.offcanvas-bottom),
	.logged-in.admin-bar .modal {
		top: var(--wp-admin--admin-bar--height, 0);
	}

	.logged-in.admin-bar .dropdown-search {
		top: 5.375rem !important; /* 8.6rem * 0.625 = 5.375rem */
	}
}

.dropdown-search.dropdown-menu[data-bs-popper] {
	top: 5.4px;
	margin-top: 0;
}

@media (max-width: 991px) {
	.btn-dropdown.right {
		padding-right: 0;
		border: none;
	}

	#dropdown-search:hover {
		color: currentColor;
		background-color: transparent;
		border-color: transparent;
	}

	#dropdown-search:focus {
		box-shadow: none;
	}
}

@media (min-width: 979px) {
	.navbar-dark .navbar-nav .nav-link {
		color: rgba(255, 255, 255, 1);
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block !important;
		visibility: visible !important;
	}
}
