@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

/* --------------------------------------------------------------
3. Header
-------------------------------------------------------------- */

#nav-main .menu-item:last-child .nav-link {
	padding-right: 0;
}

.dropdown-search {
	&.dropdown-menu[data-bs-popper] {
		top: 5.4px;
		margin-top: 0;
	}

	&.show .searchform {
		opacity: 1;
	}

	.searchform {
		opacity: 0;
		transition: opacity 0.8s;
		transition-delay: 0.3s;
	}
}

.dropdown-menu {
	padding: 0;
	border-radius: 0;
	border: 1px solid #000;
}

.top-nav-search-md.hide,
.top-nav-search-lg.hide {
	display: none !important;
}

@media (width <= 991px) {
	.btn-dropdown.right {
		padding-right: 0;
		border: none;
	}

	#dropdown-search:hover {
		color: currentcolor;
		background-color: transparent;
		border-color: transparent;
	}

	#dropdown-search:focus {
		box-shadow: none;
	}
}

header {
	--header-link-color: white;
	--header-link-hover-color: rgb(255 255 255 / 80%);

	.navbar-brand {
		transition: color var(--transition-standard);
		color: var(--header-link-color);

		@include m.interaction {
			color: var(--header-link-hover-color);
		}
	}

	.nav-link {
		--bs-nav-link-color: var(--header-link-color);
		--bs-nav-link-hover-color: var(--header-link-hover-color);
	}

	.active .nav-link {
		color: var(--bs-nav-link-hover-color);
	}
}

@media (width >= 979px) {
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block !important;
		visibility: visible !important;
	}
}
