/*--------------------------------------------------------------
3. Header
--------------------------------------------------------------*/

#nav-main .menu-item:last-child .nav-link {
	padding-right: 0;
}

.dropdown-search {
	&.dropdown-menu[data-bs-popper] {
		top: 5.4px;
		margin-top: 0;
	}

	&.show .searchform {
		opacity: 1;
	}

	.searchform {
		opacity: 0;
		transition: opacity 0.8s;
		transition-delay: 0.3s;
	}
}

.dropdown-menu {
	padding: 0;
	border-radius: 0;
	border: 1px solid #000;
}

.top-nav-search-md.hide,
.top-nav-search-lg.hide {
	display: none !important;
}

@media (max-width: 991px) {
	.btn-dropdown.right {
		padding-right: 0;
		border: none;
	}

	#dropdown-search:hover {
		color: currentColor;
		background-color: transparent;
		border-color: transparent;
	}

	#dropdown-search:focus {
		box-shadow: none;
	}
}

@media (min-width: 979px) {
	.nav-link {
		color: rgba(255, 255, 255, 1);
	}
	ul.nav li.dropdown:hover > ul.dropdown-menu {
		display: block !important;
		visibility: visible !important;
	}
}
