@use "../abstracts/mixins" as m;

/* --------------------------------------------------------------
Footer
-------------------------------------------------------------- */
.footer-logo img {
	max-width: 180px;
}

.footer-nav a {
	color: white;
	text-decoration: none;

	@include m.interaction {
		text-decoration: underline;
	}
}

.bs-footer-menu {
	& > .nav {
		gap: 1rem;

		> li {
			width: auto;

			& > ul {
				list-style: none;
				margin: 0;
				padding-left: 1rem; // 1.6rem * 0.625

				& > li {
					text-transform: none;
				}
			}
		}
	}
}
