@use "../abstracts/variables" as v;

:root {
	--transition-standard: #{v.$transition-standard};
	--font-headings: #{v.$font-headings};
	--font-body: #{v.$font-body};
}

::selection {
	color: #fff;
	text-shadow: none;
	background-color: var(--bs-primary);
}

pre,
blockquote,
q {
	background-color: var(--bs-light);
}

:focus {
	outline: none !important;
	outline: -webkit-focus-ring-color none !important;
	outline: -webkit-focus-ring-color none none 0 !important;
}
