/*--------------------------------------------------------------
4. Body
--------------------------------------------------------------*/

body {
	position: relative;
	word-break: break-word;
	font-size: 2.16rem;
}

.single-news h1 {
	color: #ffffff;
	text-transform: none;
}

.entry-content ul,
ol,
dl {
	margin-left: 3rem;
	padding-left: 0;
}

h2 {
	text-transform: uppercase;
}

a {
	color: var(--color-primary--light);
	transition: opacity 0.3s ease;

	&:hover,
	&:focus {
		opacity: 0.8;
	}
}
