/*--------------------------------------------------------------
4. Body
--------------------------------------------------------------*/

p,
li,
.fs-base {
	font-size: 1.35rem;
}

.single-news h1 {
	color: #ffffff;
	text-transform: none;
}

ul,
ol,
dl {
	margin-left: 1.875rem;
	padding-left: 0;
}

h2 {
	text-transform: uppercase;
}
